{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Анжела ученица Яндекс Практикум курс Бэкенд на Django </h1>
<br>
<p>
  Попробовать начать изучать программирование на языке Python мне предложила сестра 1,5 года
  назад. Она, на тот момент, только отучилась и начала работать программистом, а я находилась
  в отпуске по уходу за ребенком. Предыдущая работа меня не устраивала и я думала, о том что,
  надо менять сферу деятельности. Подумав над предложением сестры, я начала изучение начального
  курса по Python на Stepik.
    После того как отпуск закончился, я решила продолжить изучать программирование с дальнейшим
  трудоустройством в этой сфере. Конечно если бы не поддержка со стороны сестры и мужа, наверное я
  никогда бы не подумала, что смогу начать изучать программирование. Надо признаться, не все
  получается с первого или второго раза, часто приходится уделять ребенку время и обучение иногда
  проходит в сумбурной обстановке.
</p>
<br>
<a href="https://github.com/Anzhela-Namistyuk">
        Мой аккаунт на Github
</a>
{% endblock %}